<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <experienceAnalytics>
      <reduce>
        <dimensions>
          <dimension id="{53F60E4D-A1A1-44CB-A912-9CD6D8DE6E67}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByMessage, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByMessage, Sitecore.Support.164853"/>
          <dimension id="{19C5B093-E73A-41CB-80FB-71CAB89A7AEB}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByLandingPage, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByLandingPage, Sitecore.Support.164853"/>
          <dimension id="{A720AC6E-A9A3-410C-BAD0-E3102A1D58CE}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByAbTestVariant, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByAbTestVariant, Sitecore.Support.164853"/>
          <dimension id="{99C447BD-9CCD-4B54-8AE9-5FB1550DE242}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByLocation, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByLocation, Sitecore.Support.164853"/>
          <dimension id="{008BD4FD-580A-41BE-848C-A6B49C54F44C}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.Support.164853"/>
          <dimension id="{D9F374E1-F2D7-416A-84E6-CAFCD6989935}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByDemographics, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByDemographics, Sitecore.Support.164853"/>
          <dimension id="{A80EC44A-4E52-4C3D-92F2-0C5DD80691DF}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByTimeOfDay, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByTimeOfDay, Sitecore.Support.164853"/>
        </dimensions>
      </reduce>

      <aggregation>
        <dimensions>
          <dimension id="{53F60E4D-A1A1-44CB-A912-9CD6D8DE6E67}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByMessage, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByMessage, Sitecore.Support.164853"/>
          <dimension id="{19C5B093-E73A-41CB-80FB-71CAB89A7AEB}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByLandingPage, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByLandingPage, Sitecore.Support.164853"/>
          <dimension id="{A720AC6E-A9A3-410C-BAD0-E3102A1D58CE}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByAbTestVariant, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByAbTestVariant, Sitecore.Support.164853"/>
          <dimension id="{99C447BD-9CCD-4B54-8AE9-5FB1550DE242}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByLocation, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByLocation, Sitecore.Support.164853"/>
          <dimension id="{008BD4FD-580A-41BE-848C-A6B49C54F44C}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.Support.164853"/>
          <dimension id="{D9F374E1-F2D7-416A-84E6-CAFCD6989935}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByDemographics, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByDemographics, Sitecore.Support.164853"/>
          <dimension id="{A80EC44A-4E52-4C3D-92F2-0C5DD80691DF}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByTimeOfDay, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByTimeOfDay, Sitecore.Support.164853"/>
        </dimensions>
      </aggregation>

      <api>
        <dimensions>
          <dimension type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.Support.164853"/>
          <dimension type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByMessage, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByMessage, Sitecore.Support.164853"/>
          <dimension type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByLandingPage, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByLandingPage, Sitecore.Support.164853"/>
          <dimension type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByAbTestVariant, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByAbTestVariant, Sitecore.Support.164853"/>
          <dimension type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByLocation, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByLocation, Sitecore.Support.164853"/>
          <dimension type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByDemographics, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByDemographics, Sitecore.Support.164853"/>
          <dimension type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByTimeOfDay, Sitecore.EmailCampaign.ExperienceAnalytics" set:type="Sitecore.Support.EmailCampaign.ExperienceAnalytics.Dimensions.ByTimeOfDay, Sitecore.Support.164853"/>
        </dimensions>
      </api>
    </experienceAnalytics>
  </sitecore>
</configuration>